[Unit]
Description=Ethereum Miner

[Service]
Type=simple
User=nobody
ExecStart=/opt/t-rex/t-rex -a ethash -o stratum+tcp://eu1.ethermine.org:4444 -u 0x74a70546d741821b27ad319b3b3f0c380b53315a -p "" -w goldmine

Restart=on-failure

[Install]
WantedBy=multi-user.target
